<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>agario.js</title>

  <link rel="stylesheet" href="css/style.css">

  <script src="js/p5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

  <script src="js/Player.js"></script>
  <script src="js/Blobs.js"></script>
  <script src="js/UI.js"></script>
  <script src="js/Grid.js"></script>
  <script src="js/Main.js"></script>
  <script src="js/Socket.js"></script>
</head>

<body>

  <div class="game-menu" id="menu">
    <h1 class="game-header">agario.js</h1>
    <input type="text" placeholder="Nickname" id="nick" required class="name-input" />
    <button onclick="connectToServer()" class="connect-btn btn">connect</button>
    <button class="btn">settings</button>
  </div>

</body>

</html>